In [1]:
#import dependencies
import pandas as pd

In [2]:
#save filepath to variable
game_csv = "Resources/purchase_data.csv"

In [3]:
#set data to dataframe and read with pandas
gamedata_df = pd.read_csv(game_csv)
gamedata_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [4]:
#determine column types before running calculations
gamedata_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
#determine number of total players
#gamedata_df.count(), data arranged by purchase
#player may have mult purchases at different intervals
total_unique_players = gamedata_df['SN'].nunique()
player_count = pd.DataFrame({"Total Players": [total_unique_players]})
player_count

   Total Players
0            576

In [6]:
#gender demographics
#gamedata_df['Gender'].value_counts() - need to get corresponding gender to unique indidual players

In [7]:
gamedata_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [8]:
gamedata_df["Item Name"].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
Celeste                                          1
Riddle, Tribute of Ended Dreams                  1
Ghost Reaver, Longsword of Magic                 1
Undead Crusader                                  1
The Decapitator                                  1
Name: Item Name, Length: 179, dtype: int64

In [9]:
#Purchasing Analysis: Total Items, Total Purchases, Average Price, Total Revenue
unique_items = gamedata_df['Item Name'].nunique()
total_purch = len(gamedata_df["Purchase ID"])
total_revenue = gamedata_df["Price"].sum()
avg_purch_price = (total_revenue)/(total_purch)

#Create DataFrame to display Purchasing Analysis Data
Purchasing_Analysis_Summary = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_purch_price],
                                           "Total Number of Purchases": [total_purch], "Total Revenue": [total_revenue]})

#Mapping & Formatting
Purchasing_Analysis_Summary["Average Price"] = Purchasing_Analysis_Summary["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_Summary["Total Revenue"] = Purchasing_Analysis_Summary["Total Revenue"].map("${:.2f}".format)

Purchasing_Analysis_Summary

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [10]:
#Extract player metadata to analyze player specific data
player_df = gamedata_df[["SN", "Age", "Gender"]]

In [11]:
#drop duplicate name entries, set to new dataframe
#total number of unique players
player_unique_df = player_df.drop_duplicates("SN", 'first')
print(player_unique_df.count())
player_unique_df.head()

SN        576
Age       576
Gender    576
dtype: int64

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [12]:
#Gender Demographics
male_player = player_unique_df["Gender"].value_counts()['Male']
female_player = player_unique_df["Gender"].value_counts()["Female"]
nd_player = total_unique_players - male_player - female_player

perc_male = (male_player/total_unique_players)*100
perc_female = (female_player/total_unique_players)*100
perc_nd = (nd_player/total_unique_players)*100

In [13]:
analysisByGender = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"],
                                 "Total Count": [male_player, female_player, nd_player],
                                "Gender Percentages": [perc_male, perc_female, perc_nd]})

#Formatting
analysisByGender["Gender Percentages"] = analysisByGender["Gender Percentages"].map("{:.2f}%".format)
analysisByGender

                Gender  Total Count Gender Percentages
0                 Male          484             84.03%
1               Female           81             14.06%
2  Other/Non-Disclosed           11              1.91%

In [14]:
#using the Gender Demographics information, compare with purchasing data

#Use groupby method to run calculations against gender profiles
uniqGen = gamedata_df.groupby("Gender")
total_gender = uniqGen.nunique()["SN"]

purchCount = uniqGen["SN"].count()
avPrice = uniqGen["Price"].mean()
total_value = uniqGen["Price"].sum()

avPurch = total_value/total_gender

#Set DataFrame to display analysis
Gender_Purchases = pd.DataFrame({"Purchase Count": purchCount, "Average Purchase Price": avPrice,
                                "Total Purchase Value": total_value,
                                "Average Total Purchase per Person": avPurch})

#Formatting
Gender_Purchases["Average Purchase Price"] = Gender_Purchases["Average Purchase Price"].map("${:.2f}".format)
Gender_Purchases["Total Purchase Value"] = Gender_Purchases["Total Purchase Value"].map("${:.2f}".format)
Gender_Purchases["Average Total Purchase per Person"] = Gender_Purchases["Average Total Purchase per Person"].map("${:.2f}".format)

Gender_Purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [15]:
#Set up Bins, GroupBy Age, and determine spending power by Age Groups
#look at unique purchases, drop duplicates
bins = [0, 10, 15, 20, 25, 30, 35, 40, 999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_grp_df = player_unique_df.copy()

age_grp_df["Total Count"] = pd.cut(age_grp_df["Age"], bins, labels=groups, include_lowest=True)
grouped_age = age_grp_df["Total Count"].value_counts()

per_agegrp = (grouped_age/total_unique_players)*100

#Set DataFrame to display analysis matrix
age_summary = pd.DataFrame({"Total Count": grouped_age, "Percentage of Players": per_agegrp})

#Formatting
age_summary["Percentage of Players"] = age_summary["Percentage of Players"].map("{:.2f}%".format)
age_summary.sort_index(inplace=True)
age_summary

       Total Count Percentage of Players
<10             24                 4.17%
10-14           41                 7.12%
15-19          150                26.04%
20-24          232                40.28%
25-29           59                10.24%
30-34           37                 6.42%
35-39           26                 4.51%
40+              7                 1.22%

In [16]:
#Analyze purchase data by age groups
ageGroups_df = gamedata_df.copy()

#Apply Binning/Grouping to perform calculations to Age Intervals
ageGroups_df["Age Group"] = pd.cut(ageGroups_df["Age"], bins, labels=groups)
grpColumn = pd.cut(ageGroups_df["Age"], bins, labels=groups)
ageGrpng = ageGroups_df.groupby("Age Group")

#Calculate total purchases, average purchase price, and total purchase revenue for Age Group Intervals
purch_Count = ageGrpng["Purchase ID"].count()
avgGroup = ageGrpng["Price"].mean()
total_purch = ageGrpng["Price"].sum()

#Use copy of player_unique_df to determine average purchase per person within each age group
GrpDup_df = player_unique_df.copy()
GrpDup_df["Age Group"] = pd.cut(GrpDup_df["Age"], bins, labels=groups)
GrpDup_df = GrpDup_df.groupby("Age Group")

av_person = total_purch/GrpDup_df["SN"].count()

#Set analysis to new DataFrame, display matrix
AgeGroup_Purchases = pd.DataFrame({"Purchase Count": purch_Count, "Average Purchase Price": avgGroup,
                                  "Total Purchase Value": total_purch,
                                  "Average Total Purchase/Person": av_person})

#Mapping and Formatting
AgeGroup_Purchases["Average Purchase Price"] = AgeGroup_Purchases["Average Purchase Price"].map("${:.2f}".format)
AgeGroup_Purchases["Total Purchase Value"] = AgeGroup_Purchases["Total Purchase Value"].map("${:.2f}".format)
AgeGroup_Purchases["Average Total Purchase/Person"] = AgeGroup_Purchases["Average Total Purchase/Person"].map("${:.2f}".format)
AgeGroup_Purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase/Person
Age Group,,,,
<10,32,$3.40,$108.96,$4.54
10-14,54,$2.90,$156.60,$3.82
15-19,200,$3.11,$621.56,$4.14
20-24,325,$3.02,$981.64,$4.23
25-29,77,$2.88,$221.42,$3.75
30-34,52,$2.99,$155.71,$4.21
35-39,33,$3.40,$112.35,$4.32
40+,7,$3.08,$21.53,$3.08

In [17]:
#Determine Top Spenders and display DataFrame Summary
#Display Purchase Count, Average Purchase Price, and Total Purchase Value for Top Spenders
SN_players = gamedata_df.groupby("SN")

top_count = SN_players["Purchase ID"].count()
top_avg = SN_players["Price"].mean()
top_revenue = SN_players["Price"].sum()

#Set analysis to DataFrame
Top_Spenders = pd.DataFrame({"Purchase Count": top_count, "Average Purchase Price": top_avg,
                            "Total Purchase Value": top_revenue})

#Map/Format. Sort to display top spenders first
Top_Spenders = Top_Spenders.sort_values("Total Purchase Value", ascending=False)
Top_Spenders["Average Purchase Price"] = Top_Spenders["Average Purchase Price"].map("${:.2f}".format)
Top_Spenders["Total Purchase Value"] = Top_Spenders["Total Purchase Value"].map("${:.2f}".format)

Top_Spenders.head(10)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Chamjask73                 3                  $4.61               $13.83
Iral74                     4                  $3.40               $13.62
Iskadarya95                3                  $4.37               $13.10
Ilarin91                   3                  $4.23               $12.70
Ialallo29                  3                  $3.95               $11.84
Tyidaim51                  3                  $3.94               $11.83
Lassilsala30               3                  $3.84               $11.51
Chadolyla44                3                  $3.82               $11.46

In [18]:
#Determine the Most Popular Items
#Display Item ID, Item Name, Purchase Count, Item Price, and Total Purchase Value
itemVal = gamedata_df.groupby(["Item ID", "Item Name"])

itemCount = itemVal["SN"].count()

#average price of item = price of item
itemPrice = itemVal["Price"].mean()
itemValue = itemVal["Price"].sum()

#Set item analysis to DataFrame and display
Most_Popular = pd.DataFrame({"Purchase Count": itemCount, "Item Price": itemPrice,
                            "Total Purchase Value": itemValue})

#Format Data and Sort so Most Popular Items appear on top
Most_Popular = Most_Popular.sort_values("Purchase Count", ascending=False)
Most_Popular["Item Price"] = Most_Popular["Item Price"].map("${:.2f}".format)
Most_Popular["Total Purchase Value"] = Most_Popular["Total Purchase Value"].map("${:.2f}".format)

Most_Popular.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

In [19]:
#Most Profitable Items. Reperform Most Popular calculations to restore data for sorting
itemProf = gamedata_df.groupby(["Item ID", "Item Name"])

ProfCount = itemProf["SN"].count()
ProfPrice = itemProf["Price"].mean()
ProfValue = itemProf["Price"].sum()

#set analysis to DataFrame (Most Profitable)
most_prof = pd.DataFrame({"Purchase Count": ProfCount, "Item Price": ProfPrice,
                         "Total Purchase Value": ProfValue})

#Sort and Format Data
most_prof = most_prof.sort_values("Total Purchase Value", ascending=False)
most_prof["Item Price"] = most_prof["Item Price"].map("${:.2f}".format)
most_prof["Total Purchase Value"] = most_prof["Total Purchase Value"].map("${:.2f}".format)

most_prof.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
132,Persuasion,9,$3.22,$28.99